<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Quadrate</title>
</head>
<link rel="stylesheet" href="style.css">
<body>
  <header><h1>Quadrate</h1></header>
  <main>
    <section>
      <div class="quad">
        <div class="box">
          <div class="content">
            <img src="./img/Bildschirmfoto 2021-01-19 um 22.18.36.png" alt="Beispiel">
            <h4>Heyho</h4>
            <p>Ein paar Worte dazu die das Fass zum überlaufen bringen könnten. Das ist natürlich keine Absicht </p>
          </div>
        </div>
      </div>
      <div class="quad"></div>
      <div class="quad"></div>
    </section>
  </main>

</body>
</html>