// @import "modules/all";
// @import 'vendor/normalize';
// @import 'parts/all';

$ff-s: 'Merriweather', serif;
$ff-ss: 'Six Caps', sans-serif;



$white: #ffffff;
$light-gray: #A7A7A7;
$gray: #E8E9EB;
$dark-gray: #606060;
$accent: #03AFC2;
$dark-blue: #223843;

@mixin san-serif($fs, $ls: 0.6em, $color: $gray, $tt: uppercase, $lh: 1 ) {
  font-size: $fs;
  letter-spacing: $ls;
  color: $color;
  text-transform: $tt;
  line-height: $lh;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: ghostwhite;
  color: $gray;
  font-family: $ff-s;
  line-height: 1.6;
}

h1 {
  color: $accent;
  line-height: 1;
  font-size: 3.125rem;

  span {
    color: $accent;
    font-family: $ff-ss;
    display: block;
    font-size: 5.5rem;
    letter-spacing: 10px;
  }
}
h2{
  font-size: 2rem;
  letter-spacing: 10px;
  color: $dark-gray;
  line-height: 1;
}
