@import 'var';

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $col-mainblau;
  font-family: Arial, Helvetica, sans-serif;
  color: ghostwhite;
  font-size: 100%;
}

/*########################################## --- HEADER & NAV
############################################ 
############################################ */
header{
  min-height: 100vh;
  /* padding-top: var(--topOffset); */
}

nav{
  width: 100%;
  background-color: var(--c-accent);
  position: fixed;
  top: 0;
  & .wrapper{
    max-width: 1000px;
    margin: 0 auto;
    
    

  }
  & ul {
    list-style: none;
    width: 100%;
    padding: .5em 1em;
    display: flex;
    justify-content: space-between;
  }
  & a{
    display: block;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.2em;
    font-size: 18px;
    padding: 14px 24px 14px 24px;
    border: none;
  }
  & button{
    background-color: inherit;
    text-align: center;
    font-family: inherit;
    display: block;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.2em;
    font-size: 18px;
    padding: 14px 24px 14px 24px;
    border: none;
  }
  & a:hover, a:focus, button:hover, button:focus{
    cursor: pointer;
    color: $col-hilite;
    outline: 3px solid $col-hilite;
  }
}




.header__content{
  margin-top:26vh;
}



.overlay {
  height: 100%;
  width: 0;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  background-color: rgb(0,0,0); /* Black fallback color */
  background-color: rgba(0,0,0, 0.9); /* Black w/opacity */
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */
.overlay-content {
  position: relative;
  top: 25%; /* 25% from the top */
  width: 100%; /* 100% width */
  text-align: center; /* Centered text/links */
  margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
}


.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block; /* Display block instead of inline */
  transition: 0.3s; /* Transition effects on hover (color) */
}

/* When you mouse over the navigation links, change their color */
.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

/* Position the close button (top right corner) */
.overlay .closeBtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

/*########################################## --- Section
############################################ 
############################################ */
section{
  height: 100vh;
  background-color: $col-medium;
}