*{margin: 0; padding: 0; box-sizing: border-box;}
:root{--main: ghostwhite; --backG:#50161f; /* #50161f #641b26 */
   --special:#77212e}

body{
  font-family: 'Roboto', sans-serif; background-color: var(--backG); color : var(--main);  font-size: 125%;
}
/*--------------- TAGS ------------------*/
h1, h2{
  margin-bottom: 20px;
}
#id_gridHead{font-size: 72px;}
h3{
  margin-bottom: 18px;

}
p{line-height: 1.4em;
  margin-bottom: 5px;
}
li{margin-left: 14px;}
td{padding-bottom: 4px;}
ul{padding-bottom: 10px;}
a{text-decoration: none; color: silver}
a:hover{color: white}
/*--------------- ----------------------*/
.light{font-weight: 100;}
.bold{font-weight: bold;}
.container{
  margin-bottom: 10px;
}
.vavBtn{
  /* display: block; */
  margin-bottom: 15px;
}
.navi li{
  list-style: none;

}
.navi a{
  display: block;
  background-color: var(--special);
  color: white;
  padding: 8px 4px 6px 10px;
  margin-bottom: 12px;
  margin-right: 14px;
  box-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 450ms;
  animation: fadeIn 0.25s ease-out normal backwards;
}
.navi a:hover{
  cursor: pointer;
  z-index: 1;
  box-shadow: 0 1.5rem 2.8rem rgba(0, 0, 0, 0.65), 0 1rem 1rem rgba(0, 0, 0, 0.24);
}
.navi .delay0{animation-delay: 50ms;}
.navi .delay1{animation-delay: 100ms;}
.navi .delay2{animation-delay: 200ms;}
.navi .delay3{animation-delay: 300ms;}
.navi .delay4{animation-delay: 400ms;}
.navi .delay5{animation-delay: 500ms;}

.login{
  display: block;
  width: 100%;
  height: 40px;
  margin-bottom: 10px;
  font-size: 16px;
  padding-left: 10px;
  border: none;
  box-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
button{
  width: 100%;

  height: 36px;
  /* margin-top: 10px; */
  background-color: var(--special);
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.3em;

  color: white;
  border: none;
  box-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  outline: none;
}
button:hover{
  cursor: pointer;
  z-index: 1;
  box-shadow: 0 1.5rem 2.8rem rgba(0, 0, 0, 0.65), 0 1rem 1rem rgba(0, 0, 0, 0.24);
}

/*-------- The Grid ---------------------*/
.gridContainer{
  max-width:1000px;
  /* min-height: 20vw; */
  margin: 20px auto 20px auto;
  position: relative;
  display: grid;
 /* grid-template-rows: 12.5% auto 
 auto 12.5% 
 auto 12.5% 
 12.5% auto;  */
  grid-template-columns: 12.5% auto 12.5% auto 12.5% auto 12.5% auto; 
  grid-gap: 1rem;
  grid-template-areas: 
  "box1 box1 box1 box1 box1 box1 box1 box1"
  "box1 box1 box1 box1 box1 box1 box1 box1"

  "box2 box2 box2 box2 box2 box2 box2 box2"
  
  "box4 box4 box4 box5 box5 box5 box3 box3"
  "box4 box4 box4 box5 box5 box5 box3 box3"
  "box4 box4 box4 box5 box5 box5 box6 box6"
  "box4 box4 box4 box5 box5 box5 box6 box6"

  "box7 box7 box7 box7 box7 box7 box7 box7"

  
  /* "box1 box1 box1 box1 box1 box1 box1 box2"
  "box1 box1 box1 box1 box1 box1 box1 box2"

  "box3 box3 box4 box4 box5 box5 box6 box6"
  "box3 box3 box4 box4 box5 box5 box6 box6"

  "box3 box3 box4 box4 box5 box5 box6 box6"
  "box3 box3 box4 box4 box5 box5 box6 box6"

  "box7 box7 box7 box7 box7 box7 box7 box7"
  "box7 box7 box7 box7 box7 box7 box7 box7" */
}

.gridContainer .grid-box{
  /* min-height: 30px; */
  background-color: var(--backG);
  padding: 20px;
  box-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  /* transition: all 450ms;
  animation: fadeIn 0.25s ease-out normal backwards; */
}
/* .gridContainer .grid-box:hover{
  box-shadow: 0 1.5rem 2.8rem rgba(0, 0, 0, 0.65), 0 1rem 1rem rgba(0, 0, 0, 0.24);
} */

.gridContainer .gHeader{grid-area: box1;}
.gridContainer .gNav{grid-area: box2;}
.gridContainer .gInfo{grid-area: box3;}
.gridContainer .gLeft{grid-area: box4;}
.gridContainer .gMain{grid-area: box5;
}
.gridContainer .gMain .columns3{
  column-count: 3;
  column-rule: 5px solid var(--special);
  column-gap: 50px;
}
.gridContainer .gLogin{grid-area: box4;}
.gridContainer .gDates{grid-area: box6;}
.gridContainer .gDates .dates{width: 100%;
}

.gridContainer .gFooter{grid-area: box7;
  font-size: 16px; 
  text-align: right;
/* position: fixed;
bottom: 0; */
}


@keyframes fadeIn {
  0% {transform: scale(0);}
  80% {transform: scale(1.1);}
  100% {transform: scale(1);}
} 
/*------------------- KEYFRAMES ---------*/
@media only screen and (max-width: 1200px){
  .gridContainer{
    width: 94%;
    font-size: 110%;
  }
}
@media only screen and (max-width: 1000px){
  .gridContainer{
    width: 95%;
    font-size: 100%;
  }
  /* .gridContainer .gMain .columns3{
    column-count: 2;
    column-gap: 40px;
  }    */
} 
@media only screen and (max-width: 900px){
  #id_gridHead{font-size: 66px;}
  .gridContainer{
    width: 96%;
    font-size: 100%;
    /* grid-template-areas: 
    "box1 box1 box1 box1 box1 box1 box1 box1"
    "box1 box1 box1 box1 box1 box1 box1 box1"

    "box2 box2 box2 box2 box2 box2 box2 box2"
    
    "box4 box4 box4 box5 box5 box5 box3 box3"
    "box4 box4 box4 box5 box5 box5 box3 box3"
    "box4 box4 box4 box5 box5 box5 box6 box6"
    "box4 box4 box4 box5 box5 box5 box6 box6"
  
    "box7 box7 box7 box7 box7 box7 box7 box7" */
  }
  /* .gridContainer .gMain .columns3{
    column-count: 1;
    column-gap: 40px;
  }      */

}
@media only screen and (max-width: 700px){
  #id_gridHead{font-size: 54px;}

  .gridContainer{
    grid-template-areas: 
    "box1 box1 box1 box1 box1 box1 box1 box1"
    "box1 box1 box1 box1 box1 box1 box1 box1"
    
    "box2 box2 box2 box2 box2 box2 box2 box2"

    "box3 box3 box3 box3 box3 box3 box6 box6"
    "box3 box3 box3 box3 box3 box3 box6 box6"

    "box4 box4 box4 box4 box5 box5 box5 box5"
    "box4 box4 box4 box4 box5 box5 box5 box5"

    "box7 box7 box7 box7 box7 box7 box7 box7"

  }
}
@media only screen and (max-width: 500px){
  #id_gridHead{font-size: 42px;}

  .gridContainer{
    grid-template-areas: 
    "box1 box1 box1 box1 box1 box1 box1 box1"
    "box1 box1 box1 box1 box1 box1 box1 box1"
    
    "box2 box2 box2 box2 box2 box2 box2 box2"
    "box3 box3 box3 box3 box3 box3 box3 box3"

    "box6 box6 box6 box6 box6 box6 box6 box6"

    "box4 box4 box4 box4 box4 box4 box4 box4"
    "box5 box5 box5 box5 box5 box5 box5 box5"

    "box7 box7 box7 box7 box7 box7 box7 box7"

  }
}