<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@500;700;900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="style.css">

  <title>Explore the Grid</title>
</head>
<body>
  <!-- <header><h1>Overlapping</h1></header> -->
  <section>
    <h1><span>the</span><span>Floor</span></h1>
    <!-- <h2>Show</h2> -->
    <b class="one"></b>

  </section>
  <div class="box"><p>sehr weit über. Es ist fast so als würde es unterlappen, nur über. </p></div>
</body>
</html>