*, *:before, *:after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* border: 1px solid pink; */
}
html, body{
  height: 100%;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}
section{
  height: 100vh;
  width: 100%;
  background-color: dimgray;
  display: flex;
  justify-items: center;
  align-items: center;
}
.wrapper{
  width: 800px;
}
.headContainer{
  height: 160px;
  border: 4px solid white;
  margin: 0 auto 3vh auto;
  text-align: center;
  color: white;
  padding: 1.2em 2em;
  font-size: 2vw;
}
.item{
  background-color: white;
  font-size: 3rem;
  padding: 2em;
  border: 6px solid black;
  /* box-shadow: .05em -0.5em 0.7em 1em rgba(0, 0, 0, 0.1); */
}


.gridBox{
  width: 800px;
  height: 800px;
  margin: 0 auto;
  background-color: gainsboro;
  /* box-shadow: inset -0.1em -0.2em 1em 1em rgba(0, 0, 0, 0.2); */

  display: grid;
  grid-template-rows: auto;
  grid-template-columns: repeat(3, auto);
  gap: 1em;
  /* justify-items: center;
  align-items: center;   */
  grid-template-areas: 
  "a1 b1 c1";
}
.item-1{
  grid-area: a1;
  justify-self: end;
  align-self: start;
}
.item-2{
  grid-area: b1;
  justify-self: center;
  align-self: center;
}
.item-3{
  grid-area: c1;
  justify-self: start;
  align-self: center;
}






