<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@500;700;900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="style.css">

  <title>Explore the Grid</title>
</head>
<body>
  <section>
    <h1>Ein Quereinsteiger</h1>
    <h2>Superkräfte</h2>
    <div class="soft">Soft Skills</div>
    <p class="text">Koordination, Planung und Organisation von Umfangreichen Projekten ohne Fehlertolrenaz   Aus elf Jahren Journalismus und 13 im Veranstaltungs-Management bringe ich wertvolle Berufserfahrung mit. 
    </p>
    <div class="name"><span>Andreas</span>  <span>Breitwieser</span></div>
    <div class="tech">
      technologien: Java Processing
      HTML 5, CSS§ SCCS
    </div>
  </section>

  
</body>
</html>