<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Fein-Tuning</title>
  <link href="https://fonts.googleapis.com/css2?family=Cantarell:wght@400;700&family=Crimson+Text:wght@400;600&family=Montserrat:wght@200;400&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="./style/main.css">
</head>
<body>
  <section>
    <div class="wrapper">
      <div class="headContainer">
        <h1>Fein-Tuning mit justify-self und align-self</h1>
      </div>
      <div class="gridBox">


        <div class="item item-1" >
          <h1>1</h1> </div>          
        <div class="item item-2" >
          <h1>2</h1></div>
        <div class="item item-3">
          <h1>3</h1></div>
        
            </div>
    </div>

 
  </section>



</body>
</html>