*{
  /* outline: 1px solid pink; */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* :root{
  --var-col-back:#e6e1dc;
} */
body{
  font-family: Arial, Helvetica, sans-serif;
  background-color: #e6e1dc;
  min-height: 100vh;
  font-size: 100%;
}
header{
  min-height: 100vh;
  position: relative;
}
.wrapper{
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  
}

nav{

  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}
nav a{
  display: inline-block;
}
nav a button{
  background: transparent;
  font-family: inherit;
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  border: none;
  outline: none;
  padding: 8px 8px 32px 8px;
}
nav a button:hover, nav a button:focus{
  color:#77212e;
}
.menu-panel{
  -position: fixed;
  top: 0;
  width: 100%;
  z-index: 50;
  height: 100vh;
  padding-top: 16vh;
  background-color: #e6e1dc;

  display: none;
  /* flex-wrap: wrap; */
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.menu-panel a{
  display: block;
  flex: 1;
}

.header-img{
  max-width: 45vmin; 
  height: 45vmin;
  margin: 24vh auto;
  background-image: url(../../../img/medium/640x853-pexels-vova-krasilnikov-2796145.jpeg);
  background-size: contain;

  background-position: 50% 90% ;
  background-repeat: no-repeat;
  /* background-color: #333; */               
  /* background-blend-mode: multiply; */
  background-attachment: fixed;
  /* background-size: cover; */
}
.header-bottom{
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  bottom: 26vh;
 width: 100%;
}
main{
  margin: 0 auto;
}
section{
  padding-top: 6vh;

  background-color: white;
}
section h1{

  font-size: clamp(2rem, 8vw, 5rem);
  margin-bottom: 1em;
}
p{
  font-size: 16px;
  line-height: 1.5rem;
  margin-bottom: 16px;
}

