/* Gilt für alle Elemente */
*{
    margin: 0px;
    padding: 0 px;
    box-sizing: border-box;
}
 

body{ 
    font-family: 'Roboto', sans-serif;
}
button{
    font-family: 'Roboto', sans-serif; 
}

header{
    display: flex;
    color: rgb(146, 7, 7);
    width:80%;
    margin:auto;
    background-color: lightslategray;
    height: 10vh;
    align-items: center;
}


.logo-container,.nav-links, .cart{
    display: flex;

}

.logo-container{
    background-color: azure;
    flex: 1;
}


.logo{
    font-weight: 400;
    margin: 5px;
}


nav{
    background-color: rgb(177, 192, 238);   
    flex: 2
}

.nav-links{
    justify-content: space-around;
    list-style: none;
}

.nav-link{
    color: rgb(207, 25, 65);
    font-size: 18px;
    text-decoration: none;
}
.cart{
    background-color:rgb(238, 192, 107);
    flex: 1;
    justify-content: flex-end;
}
.presentation{
    display: flex;
    width: 80%;
    margin: auto;
    min-height: 80vh;
    align-items: center;
}
.introduction{
    background-color: antiquewhite;
    flex: 1;
}
 
.intro-text h1{
    font-size: 44px;
    font-weight: 500;
    background: linear-gradient(to right, #494964, #6f6f89);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.intro-text{
    margin-top: 5px;
    font-size: 22px;
    color: #585772; 
}
.cta{
    padding: 50px 0px 0px 0px;
}
.cta-select{
    border: 2px solid #c36cbb;
    background: transparent;
    color: #c36cbb;
    width: 150px;
    height: 50px;
    cursor: pointer;
    font-size: 16px;    
}

.cta-add{
    background: #c36cbb;
    width: 150px;
    height: 50px;
    cursor: pointer;
    font-size: 16px;  
    border:none;
    color: white;
    margin: 30px 0px 0px 0px;

}

.cover {
    flex: 1;
    height: 50vh;

}

.cover img{
    height: 100%;
    filter: drop-shadow(0px 5px 3px black);
    animation: drop 1.5s ease;
}

.big-circle{
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: -1;
    opacity: 0.7;
    height: 80%;
}
.medium-circle{
    position: absolute;
    top: 30%;
    right: 30%;
    z-index: -1;
    height: 60%;
}

.small-circle{
    position: absolute;
    bottom: 30%;
    right: 20%;
    z-index: -1;
    height: 60%;
}

.box-select{
    width: 15%;
    display: flex;
    justify-content: space-around;
    position: absolute;
    right: 20%;
}

@keyframes drop{
    0% { 
        opacity: 0;
        transform: translateY(-80px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

@media screen and (max-width: 1024px){
    .presentation{
        flex-direction: column;
    }
    .introduction{
        margin-top: 5vh;
        text-align: center;
    }
    .intro-text h1 {
        font-size: 30px;
    }
    .intro-text p {
        font-size: 18px;
    }

    .cta {
        padding: 10px 0px 0px 0px;
    }

    .box-select{ 
        bottom: 5%;
        right: 50%;
        width: 50%;
        transform: translate(50%, 5%);
    }
    .cover img {
        height: 70%;
    }

}