$col-blue: #034f67;

*,
*::before,
*::after{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #fafaff;
  font-family: Arial, Helvetica, sans-serif;
    font-size: 110%;
    line-height: 1.6;
}

h1, h2, h3, h4, h5, .headline, .subline{
  font-family: 'Cairo', sans-serif;
}

.headline{
  font-size: clamp(2.4em, 10vw, 8em);
  font-weight: 300;
  color: $col-blue;

}
.subline{
  font-weight: bold;
  font-size: 1.1em;
}

dl{
  margin-bottom: 0.7em;
}
a{
  text-decoration: none;
  color: $col-blue;
}
/*###################################*/
/*###################################*/
/*###################################*/

.headCon{
  padding: 10px;
  margin-bottom: 1em;
}


.chapter{

  flex-direction: row;
  // background-color: hotpink;
  border-bottom: 1px solid silver;
  margin-bottom: 2em;

  a{
    font-weight: bold;
  }
  &__head{
    // background-color: rgb(239, 235, 235);
    padding: 10px;
  }
}

article{
  // background-color: rgb(221, 218, 218);
  padding: 6px 10px;
  flex: 2;
}

aside{
  // background-color: silver;
  flex: 1;
  padding: 6px 10px;

}
footer {
  text-align: right;
  padding: 24px 24px;
  a{
    font-weight: bold;
  }

}
@media screen and (min-width: 768px){
  main{
    max-width: 1000px;
    margin: 0 auto;
  }
  .flex-Container{
    display: flex;
  }

}