body{

}
#myButton{
    position: fixed;
    margin-top: 300px;
    z-index: 10;
}
#myTest{
    height: 200px;
    width: 200px;
    background-color: aquamarine;
    text-align: center;
    font-size: 48px;
    color: #ffd;
    border-radius: 30px;
    position: fixed;
    z-index: 10;
    display: ;
}

#myPara{
    position: fixed;
    z-index: 10;
}