*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  height: 100%;
}
body{
  font-family: 'Cairo', sans-serif;
  background-color: rgb(184, 235, 184);
  line-height: 1.6;
  min-height: 100%;
  display: grid;
  grid: auto / 1em 1fr 1em;
  grid-gap: 1em;
}
main{
  grid-column: 2 / 3;
}
header{
  font-weight: bold;
  grid-column: 1 / -1;
}

pre{
  background-color: rgb(38, 38, 38);
  grid-column: 2 / 3;
  color: azure;
}
footer{
  background-color: rgb(55, 55, 55);
  grid-column: 1 / -1;
  margin-top: auto;
  color: azure;
}