*, *:before, *:after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Cairo', sans-serif;
  font-size: 100%;
  color: rgba(12, 12, 10, 0.8);
  font-weight: 400;
}
header{
  margin-bottom: 5vh;
}
main{
  max-width: 900px;
  margin: 0 auto;
}
section{
  padding-top: 5vh;
  display: flex;

}
h1{
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: clamp(1em, 5vw, 4em);
  line-height: 1.1;
}


h2{
  color: #f9423a;
  text-transform: uppercase;
  writing-mode: vertical-lr; /* <----- */
  text-orientation: sideways-right;
  letter-spacing: 2px;
  font-size: 2em;
  margin-top: 1em;
}