<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="robots" content="noindex">
  <meta http-equiv="pragma" content="no-cache">
  <meta http-equiv="author" content="Andreas Breitwieser">
  <title>My Chapters</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <main class="maxwidth">
    <div class="chapter">
      <div class="chapter__head">
        <h1>Normale Laufrichtung</h1>
      </div>
      <div class="flexbox">
        <article>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis quisquam iste provident exercitationem impedit, iure temporibus sint. Natus voluptates dolore molestias et velit vitae placeat voluptatum! Voluptates voluptate reprehenderit a ab quasi praesentium adipisci, minima aperiam dolores tenetur saepe commodi. Saepe deserunt officiis, necessitatibus quibusdam ipsa iusto dolorum? A sequi temporibus inventore dicta soluta ratione? Provident impedit ex alias, molestiae a asperiores non repellendus blanditiis molestias ut rerum quibusdam dignissimos ratione sed, in, aspernatur autem! Repellat neque, voluptatem voluptatum dolorem architecto dolores dolorum explicabo asperiores fuga illo voluptatibus facere placeat iure natus animi officia a in veritatis aut minima nam!</p>
        </article>
        <aside>
          <h5>Die schöne List</h5>
          <ul>
            <li>Gelbe Katze</li>
            <li>Gelbes Pferd</li>
            <li>Blaue Maus</li>
            <li>Grüner Gorilla</li>
            <li>Karriertes Zebra</li>
            <li>Gestreifter Dalmatiener</li>
          </ul>
        </aside>
      </div>
    </div>
  </main>
  
</body>
</html>