* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: #fafaff;
  font-family: 'Cairo', sans-serif;
    font-size: 100%;
}



p{
  font-family: 'Crimson Text', serif;
  font-size: 1.2rem;
  line-height: 1.5;
}
ul{
  font-size: 1.1rem;
  line-height: 1.5;
  margin-left: 24px;
}
h5{
  font-size: 1.1rem;
  line-height: 1.5;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}
main {
  max-width: 1000px;
  margin: 0 auto;
  background-color: #fafaff;
}
.chapter{
  border: 1px solid black;
  margin-bottom: 16px;
}
.chapter__head{
  padding: 24px 24px 0px 24px;
  font-size: 2rem;
}
.flex-box{
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
article {
  padding: 24px;
  min-width: 400px;
  /* width: 67%; */
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

aside {
  padding: 24px;
  min-width: 368px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

img{
  max-width: 100%;
  height: auto;
  display: block;
}
@media (min-width: 768px){
  .revers-order{
    order: -1;
  }
}



