body{background-color: dimgray; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; color: gainsboro; }
.codeCon{background-color: rgb(10, 10, 20); font-size: 22px;}
.green{color: springgreen; }
.blue{color: skyblue;}
.orange{color: lightsalmon;}
.gold{color:goldenrod}

img{
  width: 50%;
  height: 400px;
  object-fit: cover;
}