*{
    margin: 0px;
    padding: 0 px;
    box-sizing: border-box;
}
body{ 
    font-family: 'Roboto', sans-serif;
    background-color: ghostwhite;
}
#page{
    max-width: 1080px;
    min-width: 720px;
    margin: 10px auto 0 5px;    
}

header h1{
    font-size: 48px;
}
nav{
    margin: 10px 0 20px 0;

}
nav li{
    display: inline;
    list-style: none;
    font-size: 16px;
    font-weight: 600;
    justify-content: space-around;
}
u{
    font-weight: 300;
    text-decoration: none;
}
a{
    text-decoration: none;
    color: black;
}
a:active{
    color: silver;
}
a:hover{
    color: slategrey;
}
section{
    width: 90%;
}
th{
    text-align: left;
    padding: 15px 50px 0 0;
}
th u{
    font-weight: 500;
}
td{
    padding: 0 50px 0 0;
}
footer{
    font-size: 18px;
    position: fixed;
    bottom: 5px;
    right: 5px;
}