*{
  margin: 0;
  padding: 0;
}

body{
  background-color: dimgray; 
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
  font-size: 100%;
  color: ghostwhite; }


main{
  max-width: 800px;
  margin: 10vh auto;  
  position: relative;
}
article{
  margin: 0;
  display: flex;

}
h1{
  font-family:'Bebas Neue', cursive;
  font-size: 7vw;
  margin-bottom: 30px;
  color: #f27f33;
}
a{ 
  text-decoration: none;
  color: lightgoldenrodyellow;
}
p{
  font-size: 1.1rem;
  line-height: 1.45rem;
  /* float: left; */
  vertical-align: bottom;
}
img{
  clip-path: polygon(0% 0%, 100% 3%, 98% 99%, 3% 93%);
  /* float: right; */
  margin-left: 2em;
  margin-bottom: 0.5em;
  width: 40%;
}