<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css2?family=Cantarell:wght@400;700&family=Crimson+Text:wght@400;600&family=Montserrat:wght@200;400&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="style.css">

  <title>Explore the Grid</title>
</head>
<body>
  <section class="section-6">
    <div class="grid-container">
     
      <!-- <span class="quad">&#x2588</span> -->
      <h1>Wonderfull Fractions </h1>
       <b class="balken"></b>
    
      <!-- <figure>
        <img src="./../images/800_pexels-mateo-almendares-2884380.webp" alt="Frau am Strand">
        <figcaption>
       
  
              &copy; Mateo Almendares | Pexels</figcaption>
          </figure> -->
          <div class="main-content">  
            
              <img src="./../images/800_pexels-mateo-almendares-2884380.webp" alt="Frau am Strand">
  
            <div class="text-box">

             
            <p class="credit"><small>&copy; Mateo Almendares | Pexels</small>

            </p>

            <h3>This is the day</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi quae, explicabo officia repudiandae delectus eius eos obcaecati sequi. Delectus non totam, sit tempora aliquam cum cupiditate quibusdam consequuntur nam odit.</p><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque quis suscipit autem ullam dolores. Sint quaerat hic in autem ad cum assumenda, quidem expedita ratione? Ea amet alias minima tempora voluptates, libero laboriosam totam tempore, laudantium fuga, nostrum cum nemo recusandae ipsa in adipisci iusto earum natus quos suscipit vero?</p>
      </div> 
      </div> 
   
   
    </div>
   
</section>
</body>
</html>