*{
  /* outline: 1px solid pink; */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
  --c-mainblau: #034f67;
  --c-hellgrau: #e6e1dc;
  --c-bikini: #77212e;
  --c-dunkel: #373434;
  --c-chili: #9B2335;
  --c-alarm: #f9423a;
  --c-superblue: #4244b6;
  --c-bronze: #a6966c;
  --c-accent: #a6966c;
  --c-second: #034f67;
}

body{
  font-family: 'Barlow', Arial, sans-serif;
  background-color: #e6e1dc;
  min-height: 100vh;
  font-size: 100%;
}
/* header{
  min-height: 100vh;
  position: relative;
} */

main{
  max-width: 1000px;
  margin: 3em auto;
}

/*##########################################*/
/*################### Typo #################*/
/*##########################################*/
/*##########################################*/
h1{
  font-size: clamp(2em, 5vw, 6em);
  margin-bottom: .3em;
}

p, h5{
  font-size: 1.1rem;
  line-height: 1.6;
  margin-bottom: 0.3em;
}



/*##########################################*/
/*##########################################*/
/*##########################################*/
/*##########################################*/


.wrapper{
  max-width: 1000px;
  margin: 0 auto;
}
nav{
  /* position: fixed; */
  /* top: 0; */
  width: 100%;
  /* z-index: 100; */
  background-color: var(--c-accent);
}

.flexBox{
  display: flex;
  justify-content: space-between;
}
nav a{
  display: inline-block;
}
nav button, nav a{
  background: transparent;
  font-family: inherit;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-decoration: none;
  color: var(--c-second);
  border: none;
  outline: none;
  padding: 0.8em;
  transition: 0.5s; 

}

nav button:hover, nav button:focus,
nav a:hover, nav a:focus{
  /* color:#77212e; */
  color: white;}



/*##########################################*/
/*##########################################*/
/*##########################################*/
/*##########################################*/


.pannelBox {
  height: 0%;
  width: 100%;
  margin: 0 auto;
  position: fixed; 
  z-index: 1; 
  left: 0;
  /* top: 0; */
  background-color: var(--c-accent);
  display: flex; 
  align-items: center;
  overflow-x: hidden; 
  transition: 0.5s; 
}

.pannelOpen{
  height: 100%;
  /* border: 2px solid orange; */
}

.menuPannel {
  position: relative;
  /* top: 10%;  */
  height: 80%;
  width: 600px;
  padding: 0 6px 18px 6px;
  margin: 0 auto;
  border: 2px solid white;
  text-align: center; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
}


/* .pannelLink{ */
.pannelBox a{
  display: block;
  width: 100%;
  text-decoration: none;
  letter-spacing: 0.5em;
  text-align: center;
  color: rgb(230, 225, 220);
  background-color: var(--c-second);
  /* border: 1px solid black; */
  text-transform: uppercase;
  padding: 4px 0 4px 0;
  opacity: 0;
  transition: opacity 500ms;
  /* border: 1px solid var(--c-accent); */
}
.pannelOpen a{
  opacity: 1;
  transition: .4s; 

}

.pannelBox a:hover, .pannelBox a:focus {
  /* border: 1px solid var(--c-second); */
  color: white;
  box-shadow: 0 6px 16px -6px black;
  -webkit-box-shadow: 0 6px 16px -6px black;
}
/*##########################################  Take A Chance */
/*##########################################*/
/*##########################################*/
/*##########################################*/
.titleBox{
  max-width: 500px;
  margin: 1em auto;
  border: 5px solid var(--c-second);
  text-align: center;
}
.title{
  font-size: 5em;
  text-transform: uppercase;
  font-weight: bold;
}

.line1{
  letter-spacing: .17em;
  word-spacing: .1em;
}

.line2{
  letter-spacing: .02em;
}

.line3{
  letter-spacing: .2em;
  word-spacing: 0.3em;
}


@media screen and (min-width: 600px) {
  nav button, nav a{
    font-size: 1.1rem;
  }
}