*{
  /* outline: 1px solid pink; */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
  --c-mainblau: #034f67;
  --c-hellgrau: #e6e1dc;
  --c-bikini: #77212e;
  --c-dunkel: #373434;
  --c-chili: #9B2335;
  --c-alarm: #f9423a;
  --c-superblue: #4244b6;
  --c-bronze: #a6966c;
  --c-accent: #a6966c;
  --c-second: #034f67;


}
body{
  /* font-family: Barlow, Arial, sans-serif; */
  font-family: Arial, sans-serif;
  background-color: #e6e1dc;
  min-height: 100vh;
  font-size: 100%;
}
header{
  min-height: 100vh;
  position: relative;
}


nav{
  /* position: fixed; */
  /* top: 0; */
  width: 100%;
  /* z-index: 100; */
  background-color: var(--c-accent);
}
.wrapper{
  max-width: 800px;
  margin: 0 auto;
}
.flexBox{
  display: flex;
  justify-content: space-between;
}
nav a{
  display: inline-block;
}
nav button, nav a{
  background: transparent;
  font-family: inherit;
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-decoration: none;
  color: black;
  border: none;
  outline: none;
  padding: 20px 8px
}

nav button:hover, nav button:focus,
nav a:hover, nav a:focus{
  color:#77212e;
}
.menu-panel{
  /* position: fixed; */
  /* top: 0; */
  width: 100%;
  z-index: 50;
  height: 80vh;
  /* padding-top: 16vh; */
  /* background-color: red; */
  /* background-color: #e6e1dc; */

  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  overflow: hidden;
  background-color: var(--c-accent);
}

.menu-panel a{
  display: block;
  width: 100%;
  /* flex: 1; */
  text-decoration: none;
  letter-spacing: 0.5em;
  text-align: center;
  color: ghostwhite;
  background-color: var(--c-second);
  text-transform: uppercase;

}
/* 
.header-img{
  max-width: 45vmin; 
  height: 45vmin;
  margin: 24vh auto;
  background-image: url(../../../img/medium/640x853-pexels-vova-krasilnikov-2796145.jpeg);
  background-size: contain;
  background-position: 50% 90% ;
  background-repeat: no-repeat;
  background-attachment: fixed;
} */


/* .header-bottom{
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  bottom: 26vh;
 width: 100%;
} */

/* main{
  margin: 0 auto;
} */



section{
  padding-top: 6vh;
  background-color: white;
}
section h1{
  font-size: clamp(2rem, 8vw, 5rem);
  margin-bottom: 1em;
}
p{
  font-size: 16px;
  line-height: 1.5rem;
  margin-bottom: 16px;
}

/*###############################################*/
/*################# Footer ######################*/
/*###############################################*/
footer{
  max-width: 800px;
  margin: 5vh auto;
  text-align: right;
}
footer a{
  text-decoration: none;
  color: var(--c-accent);
}
