<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="robots" content="noindex">
  <meta http-equiv="pragma" content="no-cache">
  <meta http-equiv="author" content="Andreas Breitwieser">
  <title>Preiswerte Lautsprecher</title>
  <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="./style/main.css">
</head>
<body>
  <header>
    <h1>preiswerte Lautsprecher</h1>
  </header>
  <section>
    <h2>Active
      <article>
        <h3>Audioengine A2+</h3>
        <table>
          <tr>
            <th>h &times; b &times; t</th>
            <td>15,24 &times; 13,34 &times; 10,16</td>
          </tr>
          <tr>
            <th>Leistung:</th>
            <td>60W</td>
          </tr>
          <tr>
            
            <th>DAC</th>
            <td>ja</td>
          </tr>
          <tr>
            <th>Bluetooth:</th>
            <td>ja</td>
          </tr>
        </table>
      </article>
      <article>
        <h3>Nubert nuBox 383</h3>
        <table>
          <tr>
            
          </tr>
        </table>
      </article>
    </h2>
  </section>
</body>
</html>