*{padding: 0; margin: 0; box-sizing: border-box;}
:root{
  --backG:thistle;
}
body{
  width: 80%;
  background-color: var(--backG);
  font-family: Arial, Helvetica, sans-serif;
  margin: 5px auto 0 auto;
}
h5{text-transform: uppercase;}
.container{
  position: relative;
  width: 320px;
  height: 500px;
  border: 2px solid whitesmoke;
  margin: 10px auto;
  padding: 8px;
}
.container h1, h5{
  margin-bottom: 5px;
}
.container h1{
  color: firebrick;
}

.myBtn{
  position: absolute;
  bottom: 5px;
  right: 5px;
  width: 80px;
  height: 35px;
  background-color: var(--backG);
  color: lightgoldenrodyellow;
  text-transform: uppercase;
  border: 2px solid whitesmoke;
}
#myBtn:hover{
  background-color: orchid;
}

.modal{
  width: 100%;
  height: auto;
  display: none;
  position: absolute;
  bottom: 0;
  z-index: 1;
  left: 0;
 
  overflow: auto;
  /* background-color: rgb(0, 0, 0); 
  background-color: rgba(0, 0, 0, 0.4); */
}

.modal-header{
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}

.modal-body{
  padding: 2px 16px;
  background-color: yellowgreen
}

.modal-footer{
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}

.modalContent {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid whitesmoke;
  /* box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19); */
  animation-name: animatetop;
  animation-duration: 0.4s;
  /* animation-name: animateback;
  animation-duration: 0.4s */
}
.close{
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}


.close:hover, .close-focus{
  color: black;
  text-decoration: none;
  cursor: pointer;
}

@keyframes animatetop {
  from {bottom: -300px; opacity: 0}
  to {bottom: 0; opacity: 1}
}

@keyframes animateback {
  from {bottom: 0px; opacity: 1}
  to {bottom: -300; opacity: 0}
}