*{margin: 0px; padding: 0px; box-sizing: border-box;}
:root{
    --secC: dimgray;
}
body{
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    line-height: 1.3em;
}
header, footer{
    background-color:var(--secC);
    font-family: 'Roboto Mono', monospace;
    color: cornsilk;
}
header{
    margin-bottom: 20px;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 10vh;
}
a{
    text-decoration: none;
    color: darkslategray;
}
a:hover{
    color: silver;
}
a:visited{
    color: lightslategray;
}
.myHead{
    color: cornsilk;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;
}
.navLinks{
    display: flex;
    justify-content: space-around;
    width: 30%;
}
.navLinks a{
    color: cornsilk;

    text-transform: uppercase;
    letter-spacing: 3px;
}

.navLinks li{
    list-style: none;
}
.burger{
    display: none;
}
.burger div{
    background-color: cornsilk;
    width: 25px;
    height: 2px;
    margin: 5px;
}
mark{
    font-size: 120%;
}
i{
    font-style: normal;
    font-size: 130%
}



.content{
    width: 90%;
    margin: 10px auto;
    display: flex;

}
main{
    width: 90%;
    height: 100%;
    margin: 10px auto;
    background-color: steelblue;
    display: flex;
    justify-content: space-between;
  }
  /* .column{
    width: 22%;
    height: 500px;
    background-color: thistle;
  } */

  h2{
      margin-bottom: 5px;
  }
ul{
    list-style: none;
}

  div#multi{
    max-width: 1100px;
    margin: 0px auto;
    column-count: 4;
    column-rule: 3px solid var(--secC);
    column-gap: 50px;
}

div#multi > div{ 
    margin-bottom: 20px;
    padding: 16px;
    background-color: cornsilk;
    box-shadow: whitesmoke -3px 6px 4px 5px;
    /* border: #000000 1px solid; */
    /* font-family: 'Roboto Slab', serif; */
}
  
main h2{
    color: dimgray
}
aside{
    width: 30%;
    margin: 8px auto;

    flex: 1;
}

footer{
    font-size: 14px;
    position: absolute;
    bottom: 10px;
    background-color: brown;
    padding: 2px 5px 3px 5px;
}
@media screen and (max-width: 768px){
    body{
        display: none;
    }
}