<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Grid Lesson</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <div class="grid-box">
    <header class="grid-item red-box">Header</header>
    <div class="main-content grid-item orange-box">Main</div>
    <div class="side-bar grid-item pink-box">Side-Bar</div>
    <footer class="grid-item violet-box">Footer</footer>
    
  </div>
</body>
</html>