body{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
}
h1{
  font-family: 'Barlow', sans-serif;
  font-size: 30vw;
  font-weight: 900;
  background-image: url("../img/pexels/pexels-hygor-sakai-2311713.jpg");
  background-size: cover;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}