body{
  background-color: rgb(15, 7, 22);
  font-family: Arial, Helvetica, sans-serif;
  color: greenyellow;
  max-width: 96%;
  
}
main{
  width: 60%;
  margin: 0 auto;
  border: 1px solid lightseagreen;
}
aside{
  width: 30%;
  float: right;
}