<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Football Example</title>
</head>
<body>
  <div class="field">

      <ul class="galaxy">
        <li class="galaxy__wide-r1">Wide Receiver</li>
        <li class="galaxy__tackle">Tackle</li>
        <li class="galaxy__guard"></li>
        <li></li>
        <li></li>
        <li class="wide-r1">Wide Receiver</li>
 
      </ul>
  
  </div>

</body>
</html>