<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Header-Grid / gRid-Header</title>
  <link href="https://fonts.googleapis.com/css2?family=Fira+Code:wght@500&family=IBM+Plex+Sans+Condensed:wght@500&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <header>
    <div class="serif white vorname">Andreas</div>
    <div class="serif white nachname">Breitwieser</div>
    <div class="serif contact">Contact</div>
    <div class="serif github">Github</div>
    <div class="serif codepen">Codepen</div>
    <div class="hero-img">
      <img src="../../../img/medium/600x900-pexels-jj-jordan-2187526.webp" alt="Foto von JJ Jordan von Pexels
">
    </div>
    <div class="kreis"></div>
  </header>
</body>
</html>