*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --c-mainblau: #034f67;
  --c-hellgrau: #e6e1dc;
  --c-bikini: #77212e;
  --c-dunkel: #373434;
  --c-chili: #9B2335;
  --c-alarm: #f9423a;
  --c-superblue: #4244b6;
  --c-bronze: #a6966c;
  --c-accent: #a6966c;
  --c-second: #034f67;
  --c-hilite: #f9423a;
}

body{
  font-family: 'Cairo', Arial, sans-serif;
  font-size: 100%;
}
h1, h2, h3, h4, h5{
  color: var(--c-dunkel);
}

h5{
  text-transform: uppercase;
  letter-spacing: .16em;
}
body{
  background-color: pink;
}
header{
  width: 100%;
  min-height: 100vh;
  color: blue;
}
section{
  background-color: gray;
  height: 50vh;
}