* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: #f8f8ff;
  font-family: Helvetica, Arial, sans-serif;
}

main {
  max-width: 1000px;
  margin: 40px auto;
  background-color: #f8f8ff;
}

.headCon {
  padding: 24px 24px;
}

article {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 2px solid #034f67;
  margin-bottom: 5vh;
}

section {
  padding: 24px 24px;
  width: 67%;
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

aside {
  padding: 24px 24px;
  width: 30%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

aside figure {
  max-width: 300px;
}

aside figure img {
  width: 100%;
}

hr {
  border-top: 2px solid #034f67;
  margin-top: 8vh;
  margin-bottom: 10vh;
}

.textCon {
  border: 2px solid #034f67;
  padding: 16px 16px 20px 16px;
  overflow: auto;
  margin-top: 4vh;
  margin-bottom: 4vh;
}

footer {
  text-align: right;
}

/* ############################################################################## */
/* #################################### Typo #################################### */
/* ############################################################################## */
.infoline {
  display: none;
}

.dateline {
  text-align: right;
  margin-bottom: 4vh;
}

.headline {
  font-family: "Barlow", sans-serif;
  font-weight: 300;
  margin-bottom: 5vh;
  font-size: 72px;
  color: #034f67;
}

h1 {
  font-family: "Barlow", sans-serif;
  margin-bottom: 5vh;
  font-size: 72px;
  color: #034f67;
}

.subline {
  font-size: 18px;
  font-weight: bold;
  line-height: 1.8em;
  margin-bottom: 4vh;
}

h2 {
  font-family: "Barlow", sans-serif;
  margin-bottom: 5vh;
  font-size: 48px;
  font-weight: 300;
  color: #034f67;
}

h5 {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.2em;
  color: #034f67;
  font-size: 110%;
  margin-bottom: 16px;
}

h4 {
  line-height: 1.8em;
  margin-bottom: 20px;
}

p {
  font-size: 110%;
  line-height: 1.8em;
  margin-bottom: 16px;
}

.light {
  font-weight: 300;
}

a {
  text-decoration: none;
  font-weight: bold;
  color: #034f67;
}

a:hover {
  color: #1dc71d;
}

ul {
  list-style: none;
  margin-bottom: 20px;
}

li {
  line-height: 1.8em;
}

code {
  font-size: 115%;
  line-height: 1.7em;
}

/* ############################################################################## */
/* ################################## Button #################################### */
/* ############################################################################## */
.btnCon {
  width: 80px;
  height: 32px;
}

.myBtn {
  width: 100%;
  height: 100%;
  font-family: Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.2em;
}

/* ############################################################################## */
/* ################################### Table #################################### */
/* ############################################################################## */
table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
  margin-bottom: 20px;
}

thead {
  background-color: #034f67;
  color: #f8f8ff;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.2em;
}

th {
  text-align: left;
  padding: 10px 10px;
  border: 1px solid #034f67;
}

td {
  text-align: left;
  padding: 10px 10px;
  border: 1px solid #034f67;
}

/* ############################################################################## */
/* ############################### CodeBlock #################################### */
/* ############################################################################## */
.codeBlock {
  width: 100%;
  background-color: #f0f0fa;
  margin-bottom: 20px;
}

pre {
  padding-top: 10px;
}

.codeHeader {
  background-color: #034f67;
  padding: 10px 5px;
  color: #f8f8ff;
}

/* ############################################################################## */
/* ################################### media #################################### */
/* ############################################################################## */
/* Small devices (portrait tablets and large phones, 600px and up) */
/* Medium devices (landscape tablets, 768px and up) */
/* Large devices (laptops/desktops, 992px and up) */
/* Extra large devices (large laptops and desktops, 1200px and up) */
/* ############################################################################## */
/* ################################### print #################################### */
/* ############################################################################## */
@media print {
  body {
    background-color: #fff;
  }
  .infoline {
    display: block;
  }
  main {
    width: 94%;
  }
  article {
    border-bottom: 1pt solid #9d9d9d;
  }
  section {
    width: 100%;
    margin: 0 auto;
  }
  .headline, h2 {
    color: #9d9d9d;
  }
  h1, h3, h2, h4, h5 {
    color: #000;
  }
  p {
    font-size: 14pt;
    line-height: 20pt;
  }
  a {
    color: #9d9d9d;
  }
  button {
    display: none;
  }
  thead {
    background-color: #fff;
    color: #000;
  }
  th, th {
    border: 1px solid #9d9d9d;
  }
  hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border-top: 1px solid #9d9d9d;
  }
  .textCon {
    border: 1px solid #9d9d9d;
  }
  li a::after {
    content: " <" attr(href) ">";
  }
}
/*# sourceMappingURL=main.css.map */