*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  height: 100vh;
  font-family: 'Cantarell', sans-serif;
  background-color: #e6e1dc;
  // background-color: black;
}
section{
  width: 80%;
  margin: 0 auto;
  height: 100vh;
}

.content {
  display: grid;
  grid-template-columns: 70% auto;
  .left{
    position: relative;
    text-align: center;
    display: grid;
    place-items: center;
    p{
      background: white;
      position: absolute;
      margin-top: -25%;
      right: 17%;
      color: red;
      padding: 1em;
      border-radius: 15px;
      width: 20vw;
      text-align: left;
    }
  }

  .content .yellow{
    width: 50;
  }
  .github{
    position: absolute;
    margin-top: 32px;
    left: 19%;
    width: 8vh;
  }
  .right{
    display: grid;
    place-items: center;
    h2{
      color: white;
      font-size: 1.7rem;
    }
    p{
      line-height: 1.6em;
    }
  }

}
.anim{
  opacity: 0;
}
@keyframes anim1{
  from{
    transform: translateY(-300px);
    opacity: 0;
  }
  to{
    transform: translateY(0);
    opacity: 1;
  }
}