<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="style.css">
<body>
  <section>

    <h1>Aspect Ratio</h1>

<div class="flexCon">

  <article>

    <h4>HTML</h4>

    <pre><code class="html">
      &lt;div class=&quot;container&quot;&gt;
      &lt;div class=&quot;box1&quot;&gt;
        &lt;div class=&quot;content&quot;&gt;1:1&lt;/div&gt;
      &lt;/div&gt;
    &lt;/div&gt;
    </code></pre>
    <br>
    <h3>CSS</h3>

<pre><code class="css">
.container{
  width: 20%;
  }
.box1 {
  background-color: var(--display);
  width: 100%;
  padding-top: 100%; 
  position: relative;
}
.content{
  position: absolute;
  font-size: clamp(1em, 4vw, 5em);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
</code></pre>




<hr />

<h3>Seitenverhältnis</h3>

<table>
<colgroup>
<col/>
<col/>
<col/>
</colgroup>

<thead>
<tr>
	<th>Verhältnis</th>
	<th>padding-top</th>
	<th>Anwendung</th>
</tr>
</thead>

<tbody>
<tr>
	<td>1:1</td>
	<td>100%</td>
	<td>Quadrat</td>
</tr>
<tr>
	<td>16:9</td>
	<td>56.25%</td>
	<td>TV / Youtube</td>
</tr>
<tr>
	<td>4:3</td>
	<td>75%</td>
	<td>Röhren-TV</td>
	<td style="text-align:left;">Digitalkamera</td>
</tr>
<tr>
	<td>8:5</td>
	<td>62.5%</td>
	<td>goldener Schnitt</td>
</tr>
</tbody>
</table>

  </article>
</div>

<div class="box5">
  <div class="content">8:5</div>
</div>

  

<div class="container">
  <div class="box1">
    <div class="content">1:1</div>
  </div>
</div>

    <div class="flexContainer">


      
        
    
      <div class="container">
        <div class="ratioBox box2">
          <div class="content">16:9</div>
        </div>
      </div>

      <div class="container">
        <div class="box3">
          <div class="content">4:3</div>
        </div>
      </div>

      <div class="container">
        <div class="box4">
          <div class="content">3:2</div>
        </div>
      </div>

      <div class="box6">
        <div class="content">8:5</div>
      </div>

    </div>
    <div class="flexContainer">
      <div class="box5">
        <div class="content">8:5</div>
      </div>
      
      <div class="box5">
        <div class="content">8:5</div>
      </div>
      <div class="box5">
        <div class="content">8:5</div>
      </div>
      
    </div>
  </section>
 
<br>



  
  
  <footer></footer>
</body>
</html>