*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
  /* --display: #e6e1dc; */
  --display: rgb(155, 155, 155);
}
body{
  font-family: Arial, Helvetica, sans-serif;
}
section{
  max-width: 1000px;
  margin: 4vh auto;
  border: 1px solid #bfbfbf;
}
.flexContainer{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  /* background-color: silver; */
}
.container{
  width: 20%;
  padding: 0.4em;
  margin: 1em;
  background-color: ghostwhite;
}
.box1 {
  background-color: var(--display);
  width: 20%;
  padding-top: 100%; 
  position: relative;
}

.box2 {
  background-color: var(--display);
  width: 100%;
  padding-top: 56.25%; 
  position: relative;
}
.box3 {
  background-color: var(--display);
  width: 100%;
  padding-top: 75%; 
  position: relative;
}
.box4 {
  background-color: var(--display);
  width: 100%;
  padding-top: 66.66%; 
  position: relative;
}
.content{
  position: absolute;
  color:white;
  font-size: clamp(1em, 5vw, 6em);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.codeBox{
  max-width: 405px;
  padding: 1em;
}