body{background-color: dimgray; font-family: Arial, Helvetica, sans-serif; color: gainsboro; }
.codeCon{background-color: rgb(10, 10, 20); font-size: 22px;}
.green{color: springgreen; }
.blue{color: skyblue;}
.orange{color: lightsalmon;}
.gold{color:goldenrod}
h1{font-family: 'Molle', cursive; font-size:62px;
}
img{
  width: 50%;
  height: 400px;
  object-fit: cover;
}