<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>JFuturismo</title>
  <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <main>
    <h1>Futurismo</h1>
    <h2>1932 Anno X <sup>o</sup></h2>
    <h3 class="part1">S.E. Marinetti</h3>
    <h3 class="part2">Nel Trentino</h3>
    <div class="rect rect1"></div>
    <div class="rect rect2"></div>
    <div class="rect rect3"></div>
    <div class="rect rect4"></div>

    <div class="rect rect5"></div>
    <div class="rect rect6"></div>
    <div class="rect rect7"></div>
    <div class="rect rect8"></div>
    <div class="circle circle1">
      <svg width="50" height="50" version="1.1" xmlns="http://www.w3.org/2000/svg">
        <circle cx="25" cy="25" r="25" stroke="transparent" fill="#3C4468"></circle></svg>
    </div> 
    <div class="circle circle2">
      <svg width="50" height="50" version="1.1" xmlns="http://www.w3.org/2000/svg">
        <circle cx="25" cy="25" r="25" stroke="transparent" fill="#3C4468"></circle></svg>
    </div>
  </main>
</body>
</html>