*{
    margin: 0px;
    padding: 0 px;
    box-sizing: border-box;
}
body{ 
    font-family: 'Roboto', sans-serif;
    background-color: ghostwhite;
}
header h1{
    font-size: 48px;
}
nav li{
    display: inline;
    list-style: none;
    font-size: 18px;
    justify-content: space-around;



}
button{
    font-family: 'Roboto', sans-serif; 
}
u{
    font-weight: 300;
    text-decoration: none;
}

.container{
    width: 90%;
}
a{
    text-decoration: none;
    color: black;
}
form{
background-color: ghostwhite;
}
::placeholder{
    color: darkgray;
    font-weight: 300;

}

input {
    height: 40px;
    font-size: 18px;
    font-weight: 600;

    background-color: ghostwhite;
    margin: 5px 5px 5px 0

}
 #firstName, #lastName{
    width: 220px;
}
#email, #submit {
    width: 450px;
}
textarea{
    width: 450px;
    font-size: 18px;
    background-color: ghostwhite;
    padding: 5px
}
button{
    height: 30px;
    width: 450px;
}

footer{
    font-size: 18px;
}