<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Jens Simmons Nachbau</title>
  <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <header>
    <div class="header-wrapper">
      <h1>The Experimental Layout Lab</h1>
      <h1>of Jen Simmons</h1>
      <div class="demo-list">
        <ul>
          <li><a href="http://" target="_blank" rel="noopener noreferrer">Layout Land Videos</a></li>
          <li><a href="http://layout.land">Layout Land website</a></li>
          <li><a href="http://jensimmons.com/post/feb-27-2017/learn-css-grid">Learn how to use CSS Grid</a></li>
          <li><a href="http://jensimmons.com/presentation/real-art-direction-web">Revolutionize Your Page: Real Art Direction on the Web</a></li>
          <li><a href="http://jensimmons.com/presentation/progressing-our-layouts">Progressing Our Layouts</a></li>
          <li><a href="http://jensimmons.com">jensimmons.com</a></li>
          <li><a href="">Workshop Examples</a></li>
        </ul>
      </div>
      <p class="follow-links">Follow <a href="http://twitter.com/jensimmons">@jensimmons</a> on Twitter for more as it happens.
        Sign up for <a href="http://layout.land">Layout Land</a>, a place for us to show off new ideas for layout.</p>
        <div class="workshop-link">
          <ul>
            <li><a href="http://" target="_blank" rel="noopener noreferrer">Firefox Grid Inspector</a></li>
            <li><a href="http://" target="_blank" rel="noopener noreferrer">Firefox Grid Inspector</a></li>
            <li><a href="http://" target="_blank" rel="noopener noreferrer">Firefox Nightly</a></li>
          </ul>
        </div><P></P>
    </div>
  </header>
</body>
</html>