<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Fein-Tuning</title>
  <link href="https://fonts.googleapis.com/css2?family=Cantarell:wght@400;700&family=Crimson+Text:wght@400;600&family=Montserrat:wght@200;400&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <section>

    <div class="grdBox">



      <figure .tBild>
        <img src="../images/800_pexels-mateo-almendares-2884380.webp">
      </figure> 
      
      <span class="headline">Headline mein</span>
      
      <div class="subline text">Subline Subline Subline</div>
      <div class="text text-1" >
        <!-- <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Rem, voluptatum atque molestiae soluta eius aliquid sapiente minima, corrupti officia dolores assumenda ea tempore? Rerum alias, eaque quod culpa, vel, nulla eveniet tempora molestias expedita doloremque ullam numquam obcaecati magni beatae pariatur officia labore qui repellendus est. Tenetur sint ex reiciendis ratione nemo unde, consequatur nobis? Tempora rerum culpa molestiae dolor saepe esse id molestias eveniet? Blanditiis a sit eius dolore inventore, amet in delectus autem natus quos ea quam quidem asperiores necessitatibus voluptatem vero debitis quae iste, provident deleniti quaerat voluptas dolorem eligendi deserunt! Cupiditate inventore tempore ipsa rem maxime?</p></--><div>           
   

    </div>


  </section>

  <section>
   
  

  </section>
 




</body>
</html>