*{margin: 0; padding: 0; box-sizing: border-box;}
:root{--main: ghostwhite; --backG:#50161f; /* #50161f #641b26 */
   --special:#77212e}

body{
  font-family: 'Roboto', sans-serif; background-color: var(--backG); color : var(--main);  font-size: 125%;
}
/*--------------- TAGS ------------------*/


.ware{
  position: relative;
  max-width: 320px;
  /* border: 1px solid #ccc; */
  margin: 0  auto;
  /* padding: 20px; */
  background-color:var(--backG);
  color: var(--main);
}
.display{
  width:98%;
  margin: 0 auto 20px auto;
  height: 280px;
  border: 1px solid var(--main);
}
/*-------------------- Ab hier -------------*/
.table-Item{
  width: 80%;
  margin: 0 auto;
}
table{
  width: 100%;
}
td{
  font-size: 19px;
  padding-top: 8px;
  /* padding: 5px 20px 0 10px; */
}
th{
  text-transform: uppercase;
  font-weight: lighter;
}

.tab{
  /* position: absolute; */
  bottom: 0;
  width: 100%;
  overflow: hidden;
  /* border: 1px solid var(--main); */
  background-color: var(--special);
}

/* Style the buttons that are used to open the tab content */
.tab button {
  width: 25%;
  background-color: var(--special);
  text-transform: uppercase;
  color: var(--main);
  float: left;
  border: 1px solid var(--backG);
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}
.tab button:hover {
  background-color: var(--backG);
  border-color: var(--special);
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: var(--backG);
  border-color: var(--special);
}

/* Style the tab content */
.tabcontent {
  /* max-width: 320px; */
  height: 310px;
  display: none;
  padding: 6px 12px;
  /* border: 1px solid #ccc; */
  border-top: none;
  animation: fadeEffect 1s; /* Fading effect takes 1 second */
}
  
  /* Go from zero to full opacity */
@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
  
}