*{margin: 0; padding: 0; box-sizing: border-box;}
body{font-family: Arial, Helvetica, sans-serif;background-color: dimgray; color: snow;}
main{ width: 300px; height: 460px; margin: 30px auto; padding: 20px;
border: 1px solid snow;}
.myBtn{ width: 120px; height: 40px; background-color: dimgray; color: snow; font-size: 20px; border: 1px solid snow; outline: none;}
.myBtn:hover{background-color: darkcyan;}

.overlay{
  height: 0;
  width: 100%;
  position: fixed;
  z-index: 1;
  left:0;
  top: 0;
  background-color: dimgray;
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content{
  position: relative;
  top: 25%;
  width: 100%;
  text-align:center;
  margin-top:30px;
}
.overlay a{
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: snow;
  display: block;
  transition: 0.3s;
}
.overlay a:hover, .overlay a:focus{
  color: gold;
}
.overlay .closeBtn{
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

@media screen and (max-height: 450px) {
  .overlay a{font-size: 20px;}
  .overlay .closeBtn{
    font-size: 40px;
    top: 15px;
    right:35px;
  }
}