<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="robots" content="noindex">
  <meta http-equiv="pragma" content="no-cache">
  <meta http-equiv="author" content="Andreas Breitwieser">
  <title>Grid Auto-Fit</title>
  <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,400;0,800;1,800&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="style.css">
</head>
<body>
   <header>
     <div class="header-box">
      <h1>CSS Grid Auto-Fit</h1>
     </div>
     
     

     <nav>
      <ul>
        <li><a href="../../../index.html">Home</a></li>
        <li><a href="../../../index.html">Auto-Fit</a></li>
        <li><a href="../../../index.html">Auto-Fill</a></li>
      </ul>
    </nav>
   </header>

 
   
    <div class="grid-container">
      <div class="grid-item">
        <h3 class="name">Ding Dong</h3>
        <img src="../../../img/time_1.png" alt="time 1" class="grid-img">   
        <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam, corporis provident? Sint.</p>
        <strong class="grid-strong">- Ding Fong</strong>
      </div>
      
      <div class="grid-item">
        <h3 class="name">Ding Dong</h3>
        <img src="../../../img/time_2.png" alt="time 1" class="grid-img">
        <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam, corporis provident? Sint.</p>
        <strong class="grid-strong">- Ding Fong</strong>
      </div>

      <div class="grid-item">
        <h3 class="name">Ding Dong</h3>
        <img src="../../../img/time_3.png" alt="time 1" class="grid-img">
        <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam, corporis provident? Sint.</p>
        <strong class="grid-strong">- Ding Fong</strong>
      </div>

      <div class="grid-item">
        <h3 class="name">Ding Dong</h3>
        <img src="../../../img/time_2.png" alt="time 1" class="grid-img">
        <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam, corporis provident? Sint.</p>
        <strong class="grid-strong">- Ding Fong</strong>
      </div>

      <div class="grid-item">
        <h3 class="name">Ding Dong</h3>
        <img src="../../../img/time_1.png" alt="time 1" class="grid-img">
        <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam, corporis provident? Sint.</p>
        <strong class="grid-strong">- Ding Fong</strong>
      </div>

      <div class="grid-item">
        <h3 class="name">Ding Dong</h3>
        <img src="../../../img/cardioid.png" alt="time 1" class="grid-img">
        <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam, corporis provident? Sint.</p>
        <strong class="grid-strong">- Ding Fong</strong>
      </div>


    </div>

    </div>
</body>
</html>