*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --c-mainblau: #034f67;
  --c-hellgrau: #e6e1dc;
  --c-bikini: #77212e;
  --c-dunkel: #373434;
  --c-chili: #9B2335;
  --c-alarm: #f9423a;
  --c-superblue: #4244b6;
  --c-bronze: #a6966c;
  --c-accent: #a6966c;
  --c-second: #034f67;
  --c-hilite: #f9423a;
}

body{
  font-family: 'Cairo', Arial, sans-serif;
  font-size: 100%;
}
h1, h2, h3, h4, h5{
  color: var(--c-dunkel);
}

header{
  margin-top: 4vw;
  text-transform: uppercase;
  line-height: .9;
  margin-bottom: 6vw;
  letter-spacing: 2px;
}
header h1{
  font-size: clamp(2em, 8vw, 4em);
}
h2{
  margin-bottom: .8em;
}
main{
  max-width: 1200px;
  margin: 4vw auto;
}
section{
  margin-bottom: 6vw;
}
.inhalt h2{
  color: var(--c-hilite);
  text-transform: uppercase;
  letter-spacing: 2px;
}
.inhalt dl{
  max-width: 400px;
  /* float: right; */
  text-align: right;
}
.inhalt dd{
  border-top: 1px solid black;
}



table{
  /* border: 1px solid gainsboro; */
    border-collapse: collapse;

}
th, td{
  padding: .5em 1em .3em .4em;
  line-height: 1.4;
  border: 1px solid silver;
}

th{
  text-align: left;
}

/*###############################*/
/*########## code ### ###########*/
/*###############################*/
.codeBox{
  max-width: 800px;
  padding: 1em;
  margin-bottom: 1em;
}
code{
  font-size: 150%;
  line-height: 1.5;
}
.codeHead{
  text-align: right;
  line-height: 1;
  border-bottom: 1px solid black;
  margin-bottom: .6em;
}

/*###############################*/
/*########## superBox ###########*/
/*###############################*/

.superBox{
  border: 1px solid gray;
  padding: .5em;
  margin-bottom: 1em;
}
.superContent{
  font-size: 140%;
  padding-left: .5em;
}