<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css2?family=Cantarell:wght@400;700&family=Crimson+Text:wght@400;600&family=Montserrat:wght@200;400&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="style.css">

  <title>Explore the Grid</title>
</head>
<body>
  <main>

    <!-- <section class="section-3">
      <div class="headline"><h1>Fractions (fr)</h1>
      </div>

      <div class="unitbox item-1"><h4>1fr</h4>
      <figure>
        <img src="./images/800_pexels-mateo-almendares-2884380.webp" alt="Frau am Strand">
        <figcaption>&copy; Mateo Almendares | Pexels</figcaption>
        <h3>This is the day</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi quae, explicabo officia repudiandae delectus eius eos obcaecati sequi. Delectus non totam, sit tempora aliquam cum cupiditate quibusdam consequuntur nam odit.</p>
      </figure>
      </div>
      <div class="unitbox item-2"><h4>1fr</h4>
      <figure>
        <img src="./images/400_pexels-mateo-almendares-2884380.webp" alt="Frau am Strand">
        <figcaption>&copy; Mateo Almendares | Pexels</figcaption>
        <h3>This is the day</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi quae, explicabo officia repudiandae delectus eius eos obcaecati sequi. Delectus non totam, sit tempora aliquam cum cupiditate quibusdam consequuntur nam odit.</p>
      </figure>
      </div>
      <div class="unitbox item-3"><h4>1fr</h4>
      <figure>
        <img src="./images/400_pexels-mateo-almendares-2884380.webp" alt="Frau am Strand">
        <figcaption>&copy; Mateo Almendares | Pexels</figcaption>
        <h3>This is the day</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi quae, explicabo officia repudiandae delectus eius eos obcaecati sequi. Delectus non totam, sit tempora aliquam cum cupiditate quibusdam consequuntur nam odit.</p>
      </figure>
      </div>
      <div class="unitbox item-4"><h4>1fr</h4>
      <figure>
        <img src="./images/400_pexels-mateo-almendares-2884380.webp" alt="Frau am Strand">
        <figcaption>&copy; Mateo Almendares | Pexels</figcaption>
        <h3>This is the day</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi quae, explicabo officia repudiandae delectus eius eos obcaecati sequi. Delectus non totam, sit tempora aliquam cum cupiditate quibusdam consequuntur nam odit.</p>
      </figure>
      </div>

    </section> -->
    <section class="section-4">
    
      <div class="headline"><h1>1fr 1fr auto 1fr</h1>
      </div>

      <div class="unitbox item-1"><h4>1fr</h4>
      <figure>
        <img src="./images/400_pexels-mateo-almendares-2884380.webp" alt="Frau am Strand">
        <figcaption>&copy; Mateo Almendares | Pexels</figcaption>
        <h3>This is the day</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi quae, explicabo officia repudiandae delectus eius eos obcaecati sequi. Delectus non totam, sit tempora aliquam cum cupiditate quibusdam consequuntur nam odit.</p>
      </figure>
      </div>
      <div class="unitbox item-2"><h4>200px</h4>
      <figure>
        <img src="./images/400_pexels-mateo-almendares-2884380.webp" alt="Frau am Strand">
        <figcaption>&copy; Mateo Almendares | Pexels</figcaption>
        <h3>This is the day</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi quae, explicabo officia repudiandae delectus eius eos obcaecati sequi. Delectus non totam, sit tempora aliquam cum cupiditate quibusdam consequuntur nam odit.</p>
      </figure>
      </div>
      <div class="unitbox item-3"><h4>minmax(160px, 500px)</h4>
      <figure>
        <img src="./images/800_pexels-mateo-almendares-2884380.webp">
        <figcaption>&copy; Mateo Almendares | Pexels</figcaption>
        <h3>This is the day</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi quae, explicabo officia repudiandae delectus eius eos obcaecati sequi. Delectus non totam, sit tempora aliquam cum cupiditate quibusdam consequuntur nam odit.</p>
      </figure>
      </div>
      <div class="unitbox item-4"><h4>auto</h4>
      <figure>
        <img src="./images/400_pexels-mateo-almendares-2884380.webp" alt="Frau am Strand">
        <figcaption>&copy; Mateo Almendares | Pexels</figcaption>
        <h3>This is the day</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi quae, explicabo officia repudiandae delectus eius eos obcaecati sequi. Delectus non totam, sit tempora aliquam cum cupiditate quibusdam consequuntur nam odit.</p>
      </figure>
      </div>
    </section>
    <section class="section-5">

      <div class="headline"><h1>1fr 1fr auto 1fr</h1>
      </div>

      <div class="unitbox">
        <h3>This is the day</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi quae, explicabo officia repudiandae delectus eius eos obcaecati sequi. Delectus non totam, sit tempora aliquam cum cupiditate quibusdam consequuntur nam odit.</p><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque quis suscipit autem ullam dolores. Sint quaerat hic in autem ad cum assumenda, quidem expedita ratione? Ea amet alias minima tempora voluptates, libero laboriosam totam tempore, laudantium fuga, nostrum cum nemo recusandae ipsa in adipisci iusto earum natus quos suscipit vero?</p>
      </div>
      <div class="unitbox">
        <h3>This is the day</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi quae, explicabo officia repudiandae delectus eius eos obcaecati sequi. Delectus non totam, sit tempora aliquam cum cupiditate quibusdam consequuntur nam odit.</p><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque quis suscipit autem ullam dolores. Sint quaerat hic in autem ad cum assumenda, quidem expedita ratione? Ea amet alias minima tempora voluptates, libero laboriosam totam tempore, laudantium fuga, nostrum cum nemo recusandae ipsa in adipisci iusto earum natus quos suscipit vero?</p>
      </div>
      <div class="unitbox">
        <h3>This is the day</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi quae, explicabo officia repudiandae delectus eius eos obcaecati sequi. Delectus non totam, sit tempora aliquam cum cupiditate quibusdam consequuntur nam odit.</p><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque quis suscipit autem ullam dolores. Sint quaerat hic in autem ad cum assumenda, quidem expedita ratione? Ea amet alias minima tempora voluptates, libero laboriosam totam tempore, laudantium fuga, nostrum cum nemo recusandae ipsa in adipisci iusto earum natus quos suscipit vero?</p>
      </div>
      <div class="unitbox">
        <h3>This is the day</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi quae, explicabo officia repudiandae delectus eius eos obcaecati sequi. Delectus non totam, sit tempora aliquam cum cupiditate quibusdam consequuntur nam odit.</p><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque quis suscipit autem ullam dolores. Sint quaerat hic in autem ad cum assumenda, quidem expedita ratione? Ea amet alias minima tempora voluptates, libero laboriosam totam tempore, laudantium fuga, nostrum cum nemo recusandae ipsa in adipisci iusto earum natus quos suscipit vero?</p>
      </div>


    </section>
  </main>
  
</body>
</html>